<div class="wrapper">
  <div class="navbar">
    <div class="name">
      Yue Weng Mak
    </div>
    <div class="right-side">
      <div class="social-buttons">
        <div class="work">
          Let's work together
        </div>
        <%= image_tag "twitter.png" %>
        <%= image_tag "google.png" %>
        <%= image_tag "email.png" %>
      </div>
    </div>
  </div>
  <div class="brief-description">
    <div class="background-image">
    </div>
  </div>
</div>
