// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  width: 1020px;
  margin: auto;
  font-family: "Source Code Pro";
  .nav-down{
    overflow: hidden;
    height: 60px;
    .name{
      float: left;
      margin-top: 20px;
    }
    .right-side{
      float: right;
      .social-buttons{
        margin-top: -15px;
        display: inline-block;
        .work{
          float: right;
          margin-top: 25px;
          width: 200px;
          height: 26px;
          border-radius: 5px;
          background-color: #F8937B;
          color: white;
          text-align: center;
          padding-top: 6px;
          font-size: 15px;
          a{
            color: white;
            text-decoration: none;
          }
        }
        img{
          margin-left: -30px;
        }
      }
    }
  }
  .brief-description{
    .background-image{
      background: url("background-pane-1.jpeg");
      height: 600px;
      .description{
        padding-top: 100px;
        padding-left: 100px;
        padding-right: 100px;
        .text{
          border: 1px solid white;
          border-radius: 5px;
          padding: 25px;
          color: white;
          float: left;
          .left{
            float: left;
            width: 400px;
            margin-top: 50px;
            p{
              line-height: 25px;
            }
            .see-my-work{
              font-size: 17px;
              text-transform: uppercase;
              letter-spacing: 3px;
              font-family: "Permanent Marker";
            }
          }
          .right{
            float: right;
          }
        }
      }
    }
  }
  .project{
    .wrapper{
      padding-top: 80px;
      padding-left: 80px;
      padding-right: 80px;
      .information{
        float: left;
        padding: 25px;
        .desc{
          width: 350px;
          margin-left: 50px;
          color: white;
        }
        img{
          width: 450px;
          border-radius: 10px;
        }
        .what-i-did{
          text-transform: uppercase;
          font-family: "Permanent Marker";
          letter-spacing: 2px;
        }
        .left{
          float: left;
          .headline{
            font-family: "Source Sans Pro";
            font-size: 25px;
          }
        }
        .right{
          float: right;
          .headline{
            font-family: "Source Sans Pro";
            font-size: 25px;
          }
        }
        .no-margin{
          margin-left: 0px;
          margin-right: 30px;
        }
      }
    }
  }
  .lumoid{
    .background-image{
      background: url("bg_project_1.png");
      height: 500px;
    }
  }
  .letote{
    .background-image{
      background: url("bg_project_2.png");
      height: 500px;
    }
  }
  .activities{
    margin-top: 50px;
    height: 300px;
    .headline{
      text-align: center;
      text-transform: uppercase;
      font-size: 21px;
      letter-spacing: 3px;
      font-family: "Source Sans Pro";
      color: #677887;
    }
    .activity-list{
      margin: auto;
      margin-top: 30px;
      li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 40px;
        img{
          width: 120px;
        }
        .title{
          text-align: center;
          text-transform: uppercase;
          margin-top: 10px;
        }
      }
      li:nth-child(even){
        img{
          padding-left: 30px;
        }
      }
    }
  }
  .get-in-touch{
    height: 400px;
    background-color: #F8937B;
    color: white;
    .wrapper{
      padding-top: 100px;
      .headline{
        text-align: center;
        letter-spacing: 5px;
        font-size: 20px;
      }
      .footer-links{
        width: 225px;
        margin: auto;
        margin-top: 20px;
        li{
          list-style-type: none;
          display: inline-block;
          padding: 15px;
          img{
            width: 30px;
            vertical-align: middle;
          }
        }
      }
    }
    .copyright{
      text-align: center;
      margin-top: 120px;
    }
  }
}

.nav-up {
  top: -40px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  .wrapper{
    width: 300px;
    .navbar{
      display: none;
    }
    .brief-description{
      .background-image{
        height: 400px;
        .description{
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 50px;
          .text{
            border: none;
            padding: 10px;
            .left{
              float: none;
              width: auto;
              margin-top: 0px;
              h1{
                font-size: 1em;
                text-align: center;
              }
              p{
                width: 250px;
                margin: auto;
                font-size: 0.8em;
                margin-top: 20px;
              }
              .see-my-work{
                margin-top: 20px;
                text-align: center;
              }
            }
            .right{
              display: none;
            }
          }
        }
      }
    }
    .project{
      .wrapper{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        .information{
          float: none;
          padding: 10px;
          .no-margin{
            width: auto;
            margin-right: 0px;
          }
          img{
            width: 250px;
          }
          .right{
            .headline{
              font-size: 20px;
              margin-left: 10px;
            }
            p, .what-i-did{
              font-size: 16px;
              margin-left: 10px;
            }
          }
        }
      }
    }
    .letote{
      .right{
        float: none !important;
      }
    }
    .activities{
      .headline{
        font-size: 15px;
      }
      .activity-list{
        li{
          padding: 0px;
          img{
            width: 50px;
          }
          .title{
            font-size: 14px;
          }
        }
      }
    }
  }
}

